<hr class="divider py-1 my-1 bg-success opacity-50" />
<div class="row">
  <div class="col-xs-12 my-2">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)"
        [ngClass]="
          i === (this.shoppingListService.startedEditing | async)
            ? 'list-group-item-success'
            : ''
        "
      >
        <span class="badge badge-pill bg-success me-2" style="width: 100px">
          {{ ingredient.amount }}
          {{ ingredient.unit }}</span
        >
        <span>{{ ingredient.name }}</span>
        <span
          class="badge btn bg-danger float-end"
          (click)="deleteIngredient(ingredient)"
        >
          X
        </span>
      </a>
    </ul>
  </div>
</div>
<hr class="divider py-1 my-1 bg-success opacity-50" />
